@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Inter&family=Megrim&family=Oldenburg&family=Poor+Story&family=Roboto+Condensed&family=Roboto:wght@300&family=Salsa&family=Ubuntu:wght@300&display=swap');

:root {
    --orange-color: #CC6226;
    --hover-color: #8c4014;
    --background-color:  #efefef;
}

@media (min-width:917px) and (max-width: 1500px) {
    main {
        flex-direction: row;
    }

    .left-container {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        width: 40%;
        background: url(img/car.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-position: center center;
    }

    .logo-container {
        background-color: #efefef;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
    }

    .coffee-icon {
        color: black;
        opacity: 1;
        height: 60px;
    }

    .credit-text-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }

    .right-container {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .first-last-name-container {
        display: flex;
        gap: 30px;
    }
}

@media (max-width: 916px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .left-container {
        background: none;
        display: flex;
        height: 80px;
        width: 80%;
        position: relative;
        padding: 0rem 15px;
    }

    .logo-container {
        background-color: var(--background-color);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .credit-text-container {
        display: none;
    }

    .right-container {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .left-container {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .first-last-name-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}


p{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(49, 45, 45);
}

main {
    display: flex;
    border-radius: 8px;
    height: 90%;
    width: 98%;
    padding: 0.5rem;
    margin-bottom: 20px;
    /* box-shadow: 5px 5px rgb(166, 100, 100), -5px -5px white 10px; */
}


.logo-text {
    color: rgb(0, 0, 0);
    opacity: 1; 
    font-size: clamp(15px, 40px, 60px);
    font-family: "Megrim", cursive;
    font-weight: bold;
}

.credit-text{
    font-family: "Roboto", sans-serif;
    color: white;
}

.credit-text a{
    color: white;
}

.credit-text a:visited {
    color: black;
}

.right-container {
    background-color: var(--background-color);
    width: 80%%;
    padding: 2rem 15px;
}

.disclaimer-text p{
    font-family: "Ubuntu", sans-serif;
    font-size: clamp(15px, 3vw, 19px);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.form-container h3 {
    font-family: "Salsa", cursive, sans-serif;
    margin: 0;
    font-size: 20px;
    color: var(--orange-color);
}

form {
    border-radius: 6px;
    background-color: white;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: auto;
}


.first-name-container,
.last-name-container,
.email-container,
.phone-number-container,
.password-container,
.confirm-password-container {
    display: flex;
    flex-direction: column;
}

.first-name-container label,
.last-name-container label,
.email-container label,
.phone-number-container label,
.password-container label,
.confirm-password-container label{
    font-family: 'Comic Neue', cursive;
}

.first-name-container input,
.last-name-container input{
    border: none;
    border-bottom: 2.5px solid black;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    height: 25px;
    padding: 0 0 0 0.5rem;
}

.first-name-container input:focus,
.last-name-container input:focus {
    outline: none;
}

.first-name-container input:valid,
.last-name-container input:valid {
    border-bottom: 2.5px solid green;
}

.email-container input,
.phone-number-container input,
.password-container input[type=password],
.confirm-password-container input[type=password] {
    height: 25px;
    padding: 0 0 0 0.5rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    border: none;
    border-bottom: 2.5px solid black;
}

.password-container input[type=text],
.confirm-password-container input[type=text] {
    height: 25px;
    padding: 0 0 0 0.5rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    border: none;
    border-bottom: 2.5px solid black;
}

.password-container,
.confirm-password-container {
    gap: 5px;
}

#showpassword {
    align-self: flex-start;
}

.email-container input:focus,
.phone-number-container input:focus,
.password-container input:focus,
.confirm-password-container input:focus {
    outline: none;
}

.email-container input:valid,
.phone-number-container input:valid{
    border-bottom: 2.5px solid green;
}

.confirm-password-container p,
.password-container p {
    font-family: "Comic Neue", sans-serif, cursive;
    font-size: 14px;
    color: red;
    transition: 0.15s;
}


.border-red {
    border-bottom: 2.5px solid red;
}

.border-green {
    border-bottom: 2.5px solid green;
}

.hide-error {
    display: none;
}

.show-error {
    display: flex;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#create-btn {
    font-family: "Comic Neue", sans-serif;
    font-size: 18px;
    background-color: var(--orange-color);
    border: none;
    color: rgb(246, 246, 246);
    padding: 8px 40px;
    border-radius: 6px;
    transition: 0.15s;
}

#create-btn:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.already-have-acc-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.already-have-acc-container p{
    font-family: "Salsa", cursive, sans-serif;
    font-size: 18px;
}

.log-in a{
    color: var(--orange-color);
}

.log-in a:hover {
    color: var(--hover-color);
}

footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-top: auto;
}

footer p {
    font-family: "Poor story", cursive, sans-serif;
    color: white;
    font-size: 20px;
}

footer a {
    color: white;
}
